*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}    
body{
    background-color: aqua;
    color: white;
}
a{
    border: solid 0.5px blue;
    border-radius: 16px;
    padding: 16px;
    color: pink;
    background-color: purple;
    text-decoration: none;
}
img{
    border: 0.5px solid orange;
    border-radius: 16px;
    background-color: green;
}
strong{
    color: yellow;
}
p{
    color: red;
}
h1{
    color: cyan;
}
main{
    background-color: violet;
}
footer{
    background-color: indigo;
    color: white;
    text-align: center;
    padding: 8px;
}
header{
    background-color: brown;
    color: white;
    text-align: center;
    padding: 8px;
}
