* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    color: white;
    
}
h1{
    /* color do texto */
    color: white;
}
a{
    color: white;
    text-decoration: none;
    margin: 10px;
}
p{
    color: white;
    margin-top: 20px;
}
img{
    width: 200px;
    border-radius: 100px;
    margin-top: 20px;
}